# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Super-297V-Bros.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\User\Desktop\Super-297V-Bros\.idea\.idea.Super-297V-Bros\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
